# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDE / tooling
.vs/
.vscode/
*.sln
*.vcxproj*
*.opensdf
*.sdf
*.suo
*.user
*.userprefs

# OS junk
.DS_Store
Thumbs.db
